locate='ios/Gemfile'

if BUNDLE_GEMFILE=$locate bundle check &>/dev/null; then
  export GEM_HOME=$(BUNDLE_GEMFILE=$locate bundle show cocoapods | sed 's/\/gems\/.*//')
  export GEM_PATH="$GEM_HOME"
  export PATH="$GEM_HOME/bin":"$PATH"
fi
